body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    display: inline-block; /* Ajuste automático à largura do conteúdo */
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    overflow-x: auto; /* Adicionando rolagem horizontal se necessário */
    margin: 50px auto;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #fc6f11;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #fc6f11;
}

button {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #ff8b3d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #fc6f11;
}
